.newCard {
  display: flex;
  flex-flow: column;
  width: 300px;
  border: 2px solid #008000;
}

.cardSection {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  justify-content: center;
  gap: 15px;
}

.img_wrapper {
  width: 100%;
}
.card_image {
  width: 100%;
}
